body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

pre code {
	white-space:inherit;
}

pre {
	padding-top:0px;
}

.doc-main {
	font-size:16px;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  padding-top: 10px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  font-weight: normal;
  color: #666;
}

h1, .h1,
h2, .h2 {
  border-bottom: 1px solid #eee;
}

.before-h1 {
    color: #666;
    margin-left: -1.3em;
    padding-right: 0.3em;
}

h2, .h2 {
	color:#555;
	font-size:22px;
}

h2:after, .h2:after {
    content:' ';
    display:block;
    border-top-width:3px;
    border-style:solid;
    border-image: linear-gradient(to right, rgba(40,40,40,0.8), rgba(0,0,0,0)) 1 stretch;
}

h3, .h3 {
	color:#555;
	font-size:18px;
	font-weight: bold;
	padding-top:30px;
}

.sidebar-toc ul li ul li ul li {
	list-style-type:disc;
	color: #337ab7;
}